body
{
	background-color:#3defef; /* Quinine blue */
	margin:0px;
}

#onscreen_keyboard
{
	border:solid;
	text-align:center;
	background-color: white;
	width:80vw;
	height:80vh;
}

.textbox_fake
{
	border:solid;
	border-width:2px;
	width:40vw;
	height:30px;
	background-color:#CCCCCC;
	text-align:left;
	font-size:25px;
}

.encryptiontextarea
{
	width:25vw;
	height:20vh;
}

/*
iframe solution sourced from
https://stackoverflow.com/questions/5867985/full-screen-iframe-with-a-height-of-100/27853830#27853830
*/
iframe
{
	display: block;
	background: #000;
	border: none;
	height: 100vh;
	width: 100vw;
}

.tiny_title
{
	font-family:sans-serif;
	font-weight:bold;
	font-size:20px;
	color: #000000;	/* Black */
	text-align:center;
}

.small_title
{
	font-family:sans-serif;
	font-weight:bold;
	font-size:30px;
	color: #000000;	/* Black */
	text-align:center;
}

.mid_title
{
	font-family:sans-serif;
	font-weight:bold;
	font-size:40px;
	color: #000000;	/* Black */
	text-align:center;
}

.paragraph_text
{
	font-family:sans-serif;
	font-size:22px;
	color: #000000;	/* Black */
	text-align:left;
	margin-left:10%;
	margin-right:10%;
}

.paragraph_text_small
{
	font-family:sans-serif;
	font-size:16px;
	color: #000000;	/* Black */
	text-align:left;
	margin-left:10%;
	margin-right:10%;
}

.mid_title_left
{
	font-family:sans-serif;
	font-weight:bold;
	font-size:40px;
	color: #000000;	/* Black */
	text-align:left;
	margin-left:2%;
}

.paragraph_text_left_smaller
{
	font-family:sans-serif;
	font-size:18px;
	color: #000000;	/* Black */
	text-align:left;
	margin-left:1%;
	margin-right:1%;
}

.paragraph_text_wider
{
	font-family:sans-serif;
	font-size:22px;
	color: #000000;	/* Black */
	text-align:left;
	margin-left:2%;
	margin-right:2%;
}

.paragraph_text_smaller_wider
{
	font-family:sans-serif;
	font-size:14px;
	color: #000000;	/* Black */
	text-align:left;
	margin-left:2%;
	margin-right:2%;
}

#blurb
{
	border-radius: 25px;
	text-align:center;
	font-size: 20px;
	padding-top:8px;
	padding-bottom:8px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:5px;
	margin-right:5px;
	background-color:#2364d8; /*Quinine background blue*/
	-moz-box-shadow:	4px	4px 5px 0px #2364d8;
	-webkit-box-shadow:	4px	4px 5px 0px #2364d8;
	box-shadow:			4px	4px 5px 0px #2364d8;
}

#blurb a:link, #blurb a:visited, #blurb a:link
{
	color:#000000;	
}

.numeric_text
{
	text-align:center;	
	font-family:mono;
	font-size: 20px;
	font-weight:normal;
}

.clear_div
{
	clear: both;	
}

.float_left_div
{
	float:left;	
}

.button_box
{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.microtext
{
	font-size:12px;
}

.compacttext
{
	margin: 0px;
	padding: 0px;
}

p.website_header
{
	font-size: 100px;
	text-shadow: 4px 4px 5px orange;
	font-family:serif;
	margin-top:40px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	border: none;
	text-decoration: none;
	text-align: center;
	
}

#url_titlecard
{
	background-color: #E5E84C;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:5px;
	padding-right:5px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:5px;
	margin-right:5px;
	border-radius: 10px;
	font-size:20px;
	text-align:center;
	-moz-box-shadow:	4px	4px 5px 0px orange;
	-webkit-box-shadow:	4px	4px 5px 0px orange;
	box-shadow:			4px	4px 5px 0px orange;
}


#url_titlecard a
{
	padding-left:20px;
	padding-right:0px;
}

.outer_div_centre
{
	padding: 0px;
	text-align: center;		
}

.inner_div_centre
{
	display:inline-block;
	text-align:center;
}

nav span
{
	text-decoration: underline;
	padding-left:5px;
	padding-right:5px;
	cursor: pointer;
}
