body
{
	background-color: #C0C0ff;	
}

.floatleft
{
	float: left;	
}

.box
{
	float: left;
	width:100px;
	height:100px;
}

.red	{ background:#f00; }
.green	{ background:#0f0; }
.blue	{ background:#00f; }
.cyan	{ background:#0ff; }
.white	{ background:#fff; }
.black	{ background:#000; }
.yellow	{ background:#ff0; }
.magenta{ background:#f0f; }
.orange	{ background:#f80; }

.backgroundpurple		{ background-color:#c02a90; }
.backgroundlightpurple	{ background-color:#d154a9; }
.backgroundblack		{ background-color:#000000; }
.backgroundwhite		{ background-color:#FFFFFF; }
.textwhite				{ color:#FFFFFF; }
.textblack				{ color:#000000; }
.textpurple				{ color:#c02a90; }

.basepadding
{
	padding-bottom:10px;
	padding-top:10px;
	padding-left:1px;
	padding-right:1px;
}

.closebutton
{
	cursor: pointer;
	font: 14pt "Open Sans", sans-serif;
}

.handleoverflow
{
	overflow-y:scroll;
	overflow-x:hidden;
	-o-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: grab;
}

/* 3.2in is the optimised width for mobile devices*/
div#mobiledivmain
{
	width: 3.2in;
	min-height:4in;
	height:auto !important;
	cursor:default;
}

.shimmydown
{
	padding-top:8px;
	padding-bottom:-8px;
}

div.mobilediv
{
	height:auto;
	width:2.3in;
}

/*
That fancy little black bar at the top of the screen
*/
.menutable
{
	color:#FFFFFF;
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	margin-top:-1px;
	width:100%
}

/*
That neat little button in the top-left corner (it's basically the white outlined square).
*/
.menubutton
{
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	width:14%;
	cursor: pointer;
}

/*
Used on the image that renders the lines of the menu.
*/
.menuimage
{
	position:relative;
	left:25%;
}

/*
Used on the menu bar title itself, classically the short-hand name of the form.
*/
.menutitle
{
	font: 18pt "Open Sans", sans-serif;
	text-align:center;
}

/*
Airgap divs are the handiest trick you can learn. Really helps with spacing out stuff.
This one is for the menu.
*/
.menuairgap
{
	width:15%;
}

/*
This is for the airgap above the mobilediv (to stop objects being forced off the top of the screen)
Disabled.
*/
#topairgap
{
	height:10px;
	line-height: 30%;
	background-color:#FFFFFF;
}

/*
Used to space out content whose margins do not want to play ball.
Seriously, these things are far easier to use than trying to play mindgames with CSS on margins.
*/
.airgap
{
	height:1px;
	line-height: 30%;
}

/*
This is the borders used on the boxes, contrary to it's name, doesn't actually affect the background (but could!)
*/
.borderbackground
{
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	margin-top:-1px;
	overflow-y:hidden;
	overflow-x:hidden;
	padding-bottom:10px;
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
}

/*
Databoxes hold, well, data.
These are made to look like buttons so the user knows they are interactable.
They allow us to largely centre the datasets.
*/
.databox
{
	position:relative;
	text-align:center;
	border-width:3px;
	border-style:outset;
	width:1.4in;
	height:auto;
	cursor:pointer;
}

/*
Microboxes are like databoxes, but instead of being a standardised size, they shrink to wrap their contents.
This gives them a smaller overall visual appearance.
*/
.microbox
{
	position:relative;
	left:40%;
	border-width:3px;
	border-style:outset;
	background-color:#d154a9;
	display:inline-block;
	*display:inline;
	width:auto;
	height:0.5cm;
	margin-bottom:1px;
}

.textnarrow
{
	letter-spacing: -1px;
}

/*
It's possible to apply more than one class to a given HTML element (simply use spaces between the names)
So we can apply a centre alignment to text set using trusttext
*/
.textcentre	{ text-align: center; }
.textleft	{ text-align: left; }
.textright	{ text-align: right; }
.textbold	{ font-weight:bold; }
.floatright	{ float:right; }

/*
Area where the form submission fields are hidden
*/
.menuarea
{
	padding-top:10px;
	color:#FFFFFF;
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	margin-top:-1px;
}

/*
Deals with the Save/Cancel input buttons
*/
.inputbutton
{
	width:49%;
	height:1cm;
	color:#FFFFFF;
	cursor:pointer;
}

.boxbutton
{
	width:auto !important;
	width:80px;
	height:0.8cm;
}

.boxbuttontext
{
	font: 14pt "Open Sans", sans-serif;
	margin-bottom:10px;
	margin-left: 10px;
	margin-right: 10px;
}

#formid
{
	height:auto;
}

.backgroundfilter
{
	display:none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.twodigitbox
{
	min-width: 1.5em;
	/* Width is declared twice to trick IE into doing what we want. */
	width:auto !important; /* All other browsers listen to this */
	width: 1.5em; /* IE ignores the above and only listens to this. End result? Relatively consistent width. */
	max-width: 2em;
}

.fourdigitbox
{
	min-width: 3em;
	/* Width is declared twice to trick IE into doing what we want. */
	width:auto !important; /* All other browsers listen to this */
	width: 3em; /* IE ignores the above and only listens to this. End result? Relatively consistent width. */
	max-width: 3.5em;
}

.fourteendigitbox
{
	min-width: 10em;
	/* Width is declared twice to trick IE into doing what we want. */
	width:auto !important; /* All other browsers listen to this */
	width: 10em; /* IE ignores the above and only listens to this. End result? Relatively consistent width. */
	max-width: 10.5em;
}

.fiftysixdigitbox
{
	min-width: 40em;
	/* Width is declared twice to trick IE into doing what we want. */
	width:auto !important; /* All other browsers listen to this */
	width: 40em; /* IE ignores the above and only listens to this. End result? Relatively consistent width. */
	max-width: 42em;
}

.lowlineheight	{ line-height: 0%; }
.midlineheight	{ line-height: 50%; }
.fulllineheight	{ line-height: 100%; }

.responsecode
{
	background-color:#b4b4b4;
	word-break: break-all;
	border: 2px solid black;
	padding: 2px;
}
